<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="../static/todo.js" defer></script>
    <link rel="stylesheet" href="../static/todo.css">
    <link rel="icon" type="image/png" href="../static/favicon.ico">
    <title>To-Do List</title>
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <h1>Welcome, {{ data.username }}!</h1>
        <div class="text-right">
            <a href="/logout" class="btn btn-danger">Log Out</a>
        </div>
        <p>Number of tasks: {{ task.counter }}</p>
        <div class="todo-container" id="todoContainer">
            {% for item in task.data %}
                {% set task_data = {'task': item.task, 'completed': item.completed} %}
                {% set task = task_data['task'] %}
                {% set completed = task_data['completed'] %}

                <p>Task: {{ task }}</p>
                <p>Completed: {{ completed }}</p>

                {% if not completed %}
                    <button class="btn btn-success" onclick="completeTask('{{ task }}')">
                        <i class="fas fa-check"></i> Complete
                    </button>
                {% endif %}

                <button class="btn btn-danger" onclick="removeTask('{{ task }}')">
                    <i class="fas fa-trash"></i> Remove
                </button>
            {% endfor %}
        </div>
        <div class="add-todo">
            <label>
                <input type="text" id="newTaskInput" placeholder="Add a new task">
            </label>
            <button class="btn btn-primary" id="addTaskButton" onclick="addTask()">
                <i class="fas fa-plus"></i> Add Task
            </button>
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
</body>
</html>
